<div class='container'>
  <h2 id="title">Welcome to Ember.js</h2>
  <ul class='list-unstyled'>
    {{#each gem in model}}
      <li>{{#link-to 'gems.show' gem }}{{gem.name}}{{/link-to}}</li>
      <li>Quantity: {{gem.quantity}}</li>
      <li>Price: {{gem.price}}</li>
      <br>
    {{/each}}
  </ul>
  {{outlet}}
</div>
