<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class='navbar-brand'>{{#link-to 'gems'}}Gem Store{{/link-to}}</li>
  </ul>
</nav>
<div class='container'>
  <div class='jumbotron'>
    <h1 id="title">Welcome to Gem Store</h1>
  </div>
  <br>
  {{outlet}}
</div>
