{{#each gem in model}}
  <div class='col-md-6'>
    <ul class='list-unstyled'>
      <li>{{#link-to 'gem' gem }}{{gem.name}}{{/link-to}}</li>
      <li>Quantity: {{gem.quantity}}</li>
      <li>Price: {{gem.price}}</li>
      <br>
    </ul>
  </div>
{{/each}}
